/* Main Styles*/

body{
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: 700;
    margin: 0;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr;
}
/*Header Styles*/

.header-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid lightslategray;
    background-color: rgb(128, 211, 207);
    padding: 10px;
}

.tabs-container{
    display: flex;
}

.tabs-links{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.tabs-links a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.tabs-links:hover{
    border-bottom: 1px solid black;
}

.tabs-links a:hover{
    color: black;
}

.nameplate-container{
    margin: 10px;
    padding: 10px;
    align-self: center;
    text-transform: uppercase;
}

.header-container > .tabs-container > div{
    margin: 10px;
    padding: 10px;
    font-size: 0.9em;
}

.active-tabs-links{
    border-bottom: 1px solid black;
}

.active-tabs-links a {
    color: black !important;
}
/*Main Content*/

.content-container{
    background-color: black;
}

.travel-pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}

.travel-picture{
    position: relative;
    border: 10px solid whitesmoke;
    padding: 5%;

}

.travel-picture-background{
    height: 350px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10%;
    margin-bottom: 10%;
}

.img-text{
    color: transparent;
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.img-text:hover{
    color: rgb(128, 211, 207);
    font-weight: 600;
    transition: 1s;
}

.img-darken{
    transition: 1s;
    filter: brightness(10%);
}

/*About Me Styles*/

.about-me-page-container{
    display: flex;
    height: 850px;
    justify-content: center;
    align-items: center;
}